body {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    background-color: #FFFFFF;
}

a.headerlink {
    color: #FFFFFF !important;
}

.problematic {
    color: red;
}

.admonition-todo p {
    display: none;
}

.admonition-todo a,
.admonition-todo ul {
    color: #CCCCCC !important;
}

#content {
    line-height: 1.5;
    text-align: justify;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

#content h1 {
    font-size: 14pt;
    border-bottom: 0;
    margin-bottom: 2em;
    text-align: left;
    page-break-before: always;
    page-break-inside: avoid;
    page-break-after: avoid;
    font-family: Arial, sans-serif;
}

#content h2 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 2em;
    text-align: left;
    page-break-inside: avoid;
    page-break-after: avoid;
    font-family: Arial, sans-serif;
}

#content h3 {
    font-size: 12pt;
    margin-top: 2em;
    text-align: left;
    page-break-inside: avoid;
    page-break-after: avoid;
    font-family: Arial, sans-serif;
}

#content img {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 640px;
    max-height: 480px;
}

#content img + strong {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

#content ul {
    margin-top: 0;
    margin-bottom: 0;
    page-break-before: avoid;
}

#content li {
    list-style-type: disc;
}

#content a,
#content a:link,
#content a:visited,
#content a:hover,
#content a:active {
    color: #0000EE;
    text-decoration: none;
}

#content blockquote {
    color: #888888;
    border-left: 5px solid #CCCCCC;
    padding-left: 1em;
}

#content p {
    margin: 0;
    text-indent: 1cm;
}

#content table {
    font-size: 10pt;
    font-family: "Times New Roman", serif;
    border-spacing: 0;
    border-collapse: collapse;
    page-break-inside: avoid;
    border: 1px solid #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

#content th {
    text-align: center;
    vertical-align: middle;
    background-color: #F5F5F5;
    padding: 0.6em;
    border: 1px solid #000000;
}

#content td {
    vertical-align: middle;
    padding: 0.3em;
    border: 1px solid #000000;
}

#content table caption,
#content p.caption {
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 11pt;
    font-family: "Times New Roman", serif;
}
